anytree>=2.6

# bokeh notes:
#     - 2.4 support python 3.7+
#     - 3.0 drops python 3.7 support
#     - 3.0 has new APIs, needs testing
bokeh>=2.4,<3.0

flowio==1.1.1
flowutils>=1,<1.1

# lxml notes:
#     - 4.7+ supports python 3.7 - 3.10
lxml>=4.7

# matplotlib notes:
#     - 3.5 min python version is 3.7
#     - 3.5 added wheel for python 3.10
#     - 3.5 added wheel for Apple Silicon (macOS)
matplotlib>=3.5
networkx>=2.3

# numpy notes:
#     - locked to flowutils b/c of np C API
numpy>=1.20

# pandas notes:
#     - 1.2 drops support for python <3.7
pandas>=1.2,<2
psutil>=5.8

# scipy notes:
#     - 1.6 support python 3.7+
scipy>=1.6

# seaborn notes:
#     - 0.12 has API changes
#     - seaborn only used in Sample.plot_contour, will change to bokeh soon
seaborn>=0.11,<0.12
