# anytree notes:
#     - 2.13 supports python 3.9 - 3.13
anytree>=2.13

# bokeh notes:
#     - 3.5 supports python 3.10+
bokeh>=3.5

# contourpy notes:
#     - 1.3.1 drops python 3.9, supports 3.10+
contourpy>=1.3.1

flowio>=1.4.0,<1.5
flowutils>=1.2.2,<1.3

# lxml notes:
#     - 6.0 supports python 3.8 - 3.13
lxml>=6.0

# networkx notes:
#     - 3.3 drops python 3.9, supports 3.10+
networkx>=3.3

# numpy notes:
#     - locked to flowutils b/c of np C API
numpy>2

# pandas notes:
#     - 2.2 suppports 3.9+
pandas>=2.2

# psutil notes:
#     - 7 supports 3.6+
psutil>=7

# pyarrow notes:
#     - Only needed for Feather export, so can be conservative here
#     - 18 supports python 3.9+
pyarrow>=18

# scipy notes:
#     - 1.14 supports 3.10+
scipy>=1.14
