# anytree notes:
#     - 2.9 drops 3.6, adds 3.11
anytree>=2.9

# bokeh notes:
#     - 3.1 supports python 3.8+
bokeh>=3.1

contourpy>=1.1.0

flowio>=1.3.0,<1.4
flowutils>=1.1.0,<1.2

# lxml notes:
#     - 4.9+ supports python 3.7 - 3.11
lxml>=4.9

networkx>=3.1

# numpy notes:
#     - locked to flowutils b/c of np C API
numpy>=1.22,<2

# pandas notes:
#     - 1.2 drops support for python <3.7
pandas>=2.0
psutil>=5.8

# scipy notes:
#     - 1.8 support python 3.8+
scipy>=1.8
